.js-disabled {
	color: red;
	font-weight: bolder;
}

#game button {
	width: 100px;
	height: 50px;
}

#results td {
	width: 250px;
}

#results {
	display: block;
}

.resultsBackground {
	background: lemonchiffon;
}