	#restoCarousel {

		background-color: orangered;
		font-family: "Sigmar One", cursive;
		height: 150px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.js-disabled {
		color: red;
		font-weight: bolder;
		font-size: larger;
	}

	.nav {
		font-size: larger;
	}

	a {
		padding-right: 20px;
	}

	a:link {
		text-decoration: none;
		color: orangered;
	}

	a:visited {
		text-decoration: none;
		color: rgb(178, 194, 72);
	}

	a:hover {
		text-decoration: underline;
		font-weight: bold;
	}

	a:active {
		text-decoration: none;
	}

	.main {
		background-color: yellowgreen;
		text-align: center;
	}

	.page-header {
		text-align: center;
	}

	.page-header h1 {
		font-family: 'Asset', cursive;
		font-weight: bold;
	}

	.page-header h3 {
		font-style: italic;
	}

	.page-footer {
		text-align: center;
		font-size: small;
	}

	.page-footer p {
		font-weight: bold;
	}