	body {
		background-color: lemonchiffon;
		text-align: center;
	}

	h1, h2, h3 {
		font-family: 'Josefin Sans', sans-serif;
	}

	ul {
		font-style: italic;
	}

	thead {
		background-color: cadetblue;
		color: lemonchiffon;
		font-size: larger;
	}

	th {
		height: 50px;
		text-align: center;
	}

	tbody {
		background-color: darkseagreen;
		font-style:italic;
	}

	a:link {
		text-decoration: none;
		color: cadetblue;
	}

	a:visited {
		text-decoration: none;
		color: darkseagreen;
	}

	a:hover {
		text-decoration: underline;
		font-style: italic;
		font-weight: bold;
		color: lemonchiffon;
		background-color: cadetblue;
	}

	a:active {
		text-decoration: none;
	}